channels = "#logarithm"
command_designator = "!"
command_path = "cmds"
disable_all = "0"
disabled_commands = ""
enabled_commands = ""
logging_enabled = "1"
bot_site = "http://jabberwocky.ca/~logarithm/"
ping_timeout = "300"
ping_interval = "120"
plugins = "core","logging"
servers = "irc.jabberwocky.ca:8067"
