channels = "#logarithm"
command_designator = "!"
command_path = "cmds"
disable_all = "0"
disabled_commands = ""
enabled_commands = ""
bot_site = "http://jabberwocky.ca/~logarithm/"
plugins = "logging"
servers = "irc.neovanglist.net"
