Knowledge, Reality, Religion, Politics, Morality, General, Funny

Knowledge,Reality:What is knowledge?
Knowledge,Reality:What is the nature of Knowledge?
Knowledge,Reality:Is it really possible to know anything? Why or why not? What is knowledge anyway?
Knowledge,Reality:What is truth?
Knowledge,Reality:What is consciousness?
Knowledge,Reality:What is reality really like?
Knowledge,Reality:How do you know anything really exists?
Knowledge,Reality:How do I know I'm not just a brain in a vat, hooked up to a computer simulation of life?
Knowledge,Reality:Are mind and matter the same thing?
Knowledge,Reality:Is there such thing as cause and effect?
Knowledge,Reality:Can scientific theories be true?
Knowledge,Reality:What is the role of science in society?
Knowledge,Reality:Can we ever unify the sciences?
Knowledge,Reality:Ideally can science give a complete description of reality? Or are there some aspects of reality that are "beyond science"? Why?
Knowledge,Reality:What is the purpose of pain?
Knowledge,Reality:Does time flow?
Knowledge,Reality:So, was Kant on drugs or what?
Knowledge,Reality,Religion:Is it ever reasonable to believe something without having sufficient evidence for it? What exactly is evidence? And how do we know when it is "sufficient"?

Religion:What Is Fate?
Religion:Does Fate Exist?  Why or Why Not?
Religion:Does Fate Exist? And If So, How Does It Behave?
Religion:What is the meaning of faith?
Religion:Do we have a free will?  Why or Why Not?
Religion:Why Are We Here?
Religion:What is the purpose, if any, to life and existence?
Religion:Should life have a meaning?
Religion:Where Did We Come From?
Religion:Did We Evolve Or Were We Created?
Religion:Do we have a soul?
Religion:Do you have a soul? If so, is it immortal? How do you know?
Religion:Can our minds exist seperately from our bodies?
Religion:What happens after the death of our physical bodies?
Religion:Why can't we live forever?
Religion:If you could, would you want to live forever and why?
Religion:How should we act?  Why?
Religion:What is good and what is evil?
Religion:Is There Such A Thing As Right And Wrong?
Religion:Is There Such A Thing As A True Religion/Belief System?
Religion:Do Absolutes Exist?  Why or Why Not?
Religion:What Is God?
Religion:Where Is God?
Religion:Is There A God?  Why or Why Not?
Religion:Did god create man or did man create god?
Religion:Why Do We Dream?
Religion:Why Is There Evil?
Religion:What is the essence of being human?
Religion:What is fair?
Religion:Can there be human equality?
Religion:How can we be happy?
Religion:Can Everyone Ever Truely Be Happy?
Religion:Should we be more compassionate?  Why or Why Not?
Religion,Politics:Is Culture A Cult?  Why or Why Not?
Religion:Do we need more religion in our lives?  Why or Why Not?
Religion:Do we need more philosophy in our lives?  Why or Why Not?
Religion:Do we need more grounding in our lives?  Why or Why Not?
Religion:Do we need less religion in our lives?  Why or Why Not?
Religion:Is religious fanaticism acceptable?  Why or Why Not?
Religion:What use is religion?
Religion:Does religion have any value?  Why or Why Not?
Religion:What is organized religion?
Religion:Is there any use for organized religion in today's world?  Why or Why Not?
Religion:Are organized religions too opressive?  Why or Why Not?
Religion:Are non-organized religions legitamite?  Why or Why Not?
Religion:Are non-organized religions acceptable?  Why or Why Not?
Religion:Is atheism a serious religion?  Why or Why Not?
Religion:Is religion fiction?  Why or Why Not?

Religion,Islam:How can Muslim and Western world views co-exist?
Religion,Buddhism:What can Buddhism teach us?
Religion,Discordianism:Discuss Discordianism?
Religion,Nihilism:Discuss Nihilism.
Religion,Existentialism:Discuss Existentialism.
Religion,ficysib:What Is ficysib?
Religion,ficysib:Discuss ficysib.
Religion,ficysib:Is ficysib feasible?  Why or Why Not?
Religion,ficysib:Is ficysib an acutal religion?  Why or Why Not?
Religion,ficysib:Is there a point to being a ficytersib (ficysibian)?
Religion,ficysib:Can ficysib co-exist with existing religions?
Religion,ficysib:Is there not enough religious tolerence in today's world?  Why or Why Not?
Religion,ficysib:Is there too much religious tolerence in today's world?  Why or Why Not?

Politics:Is global peace possible?  Why or Why Not?
Politics:Should we try and achieve world peace and an end to poverty?  Why?
Politics:Should there be borders?  Why or Why Not?
Politics:Should there be border controls?  Why or Why Not?
Politics:What is the ideal state of the future?
Politics:Is globalised capitalism a good thing?
Politics:Is taxation theft?
Politics:What should be a government’s priorities?
Politics:Should America rule the world?
Politics:How should wealth be distributed in the world? How can we tell whether a society's way of distributing wealth among its citizens is just?
Politics:Should gays have rights?  Why or Why Not?
Politics:Can a war be justified?  Why or Why Not? How?
Politics:Can Terrorism be Justified?  Why or Why Not?
Politics:Should Marijuana Be Legalized?  Why or Why Not?
Politics:Should abortion be legal?  Why or Why Not?
Politics:Should we want wealth and power?  Why or Why Not?
Politics:Do societies determine what is right and wrong for their members? Can the moral standard accepted by a society be mistaken?
Politics:Is anarchy feasible?  Why or Why Not?
Politics:Is democracy the answer?  Why or Why Not?

Morality:Should there be gun control?  Why or Why Not?
Morality:Should civilians be able to own guns for purposes other than hunting?  What would those purposes be?
Morality:Under What Circimstances Would You Shoot Another Human?
Morality:Would You Kill Someone In Self Defense?
Morality:Would You Kill Someone With Your Bare Hands If You Had To?
Morality:Do You Fear Death?  Why or Why Not?
Morality:Is Society More Violent Nowadays?  Why or Why Not?
Morality:What is the role of punishment?
Morality:Is punishment effective?
Morality:Are Humans Special?  Why or Why Not?
Morality:Are Humans Superior?  Why or Why Not?
Morality:Are Humans Better Than All Other Animals?  Why or Why Not?
Morality:Do Humans Deserve Special Rights Over Nature?  Why or Why Not?
Morality:Should we care about animals?  Why or Why Not?
Morality:How far should embryologists go?
Morality:Should cloning be banned?  Why or Why Not?
Morality:Is cloning for the purpose of replacement body parts morally wrong?  Why or Why Not?
Morality:Are Men And Women Different Mentally (In The Way They Think) Due To Biological Or Cultural Differences?
Morality:Is "An eye for an eye" a good philosophy to live by (to base a society on)?
Morality:What is natural?

General:Are we the same person we were five years ago?
General:If man evolved from monkeys and apes, why do we still have monkeys and apes?
General:What Is The Nature Of Preference?
General:Why Do We Like Certain Things And Dislike Other Things?
General:What is love?
General:Does Love Exist?  Why or Why Not?
General:Is History Important?
General:Discuss "The Outsider" by Albert Camus.
General:Should everyone be made to use a single language?  Why or Why Not?

Funny:Why get a Philosophy degree?
Funny:Why, if the mind is rational, isn't the mind more rational? Why, if not, isn't it less?
Funny:The Secret Service Is Neither Secret Nor A Service.  Discuss.
Funny:Can you feel bad for a lack of metaphorical pussy when you have the real thing already in your lap?
Funny:Why Is A Raven Like A Writing Desk?
Funny:Why is it only drug dealers and software developers call their clients 'users'?
Funny:If you try to fail, and succeed, which have you done?
Funny:mi prami rodo
Funny:Why do people suck?

:If you don't try can you still lose or win if you didn't even try?
:Are the U.S. just bullies or is it that power has blinded them from seeing the truth