What Is My Name?*logarithm
What Am I Thinking About?*nothing

Who created the 'cogito'?*Descartes
Who is the philosopher most often credited with starting the "Enlightenment" period?*Descartes
Who was the teacher of Plato?*Socrates
What is Plato's most well-known book?*Republic
What did element of Plato's society did he take lengths to justify?*slaves
What country is Kant from?*Germany
What form of philosophy did Kant develop?*transcendental
What revolutionary form of knowledge did Kant propose?*Synthetic A Priori
What did Wittgenstein say we are incapable of having?*Certainty
What was Wittgenstein trained as before becoming a philosopher?*Engineer

What political ideology holds that no restrictions should be placed on government?*Absolutism
In what theory is the flow of events unpredictable?*Accidentalism
What is the view that only the actual world is real?*Actualism
What doctrine holds that the appreciation of art and beauty is the highest aim of human life?*Aestheticism
What is knowledge that is known before experience called?*A Priori
What is knowledge that is known after experience called?*A Posteriori
In what doctrine is one soley interested in the welfare of others?*Altrusim
What is the view that things are the way they are because that is how they ought to be?*Axiarchism
What is the doctrine that everything happens by chance?*Causalism
What is the view that a work of art can only be understood in the context of its historical or cultural circumstances?*Contextualism
What doctine claims that everything has a purpose?*Determinism
What is the view that people are motivated by self-interest?*Egoism
What is the strand of philosophy that attempts to tie knowledge to experience?*Empiricism
What doctrine proposes that beliefs need not be certain or grounded?*Fallibilism
What epistemological view that knowledge must be built up upon certainty?*Foundationalism
What is the persut of one's own pleasure as an end in itself?*Hedonism
What is the doctrine that everything is a combination of matter and form?*Hylomorphism
What is the doctrine that everything is fundamentally mental in nature?*Idealism
What is the view that some events don't have a cause?*Indeterminism
What theory states that there is nothing in common between objects except the words we apply to them?*Nominalism
What is the view that government is like a parent?*Paternalism
What is the view that truth is truth from or within a particular perspective?*Perspectivism
What is the view that the real world is nothing more than the physical world?*Physicalism
What it the view that beauty lies in the eyes of the beholder?*Projectivism
What is the doctrine that at least some truth is relative to the standpoint of the person?*Relativism
What is the belief that only oneself and one's experiences exist?*Solipsism
What is the view that chance is a real force in nature?*Tychism

In what doctrine is it believed that the existence of God cannot be known?*Agnosticism
What religion sees desire as the cause of all human suffering?*Buddhism
What doctrine (historically) shares a similar view of desire as Buddhism?*Cynicism
In what doctrine does God not play an active role in life?*Deism
What is the view that we cannot have knowledge of divine things?*Fideism
What term refers to Unorthodox?*Heterodox
What is the doctrine that the world is not ruled by one supreme being but by a balance of good and evil?*Manichaeaism
What is the doctrine in which one believes nothing?*Nihilismb
In Buddhism, what is the term used to refer to one's opinions, personality, body, etc?*Not-Self
What is the doctrine in which God is in everything?*Pantheism
What is the doctrine condeming all human effort in exchange for passive devotional contemplation?*Quietism

What doctrine claims that communities can flourish without governement?*Anarchism
What is the model of political organization that stresses affection, kinship, and a sense of common purpose?*Communitarianism

What does corporeal mean?*Bodily
What do you call a belief held unquestionably?*Dogma
What is reasoning that aims not at truth but victory over one's opponent?*Eristic
What do you call a theory of knowledge?*Epistemology
What do you call a set of incontrovertible yet contradictory premises?*Paradox
What is the relationship between speakers and the words they use called?*Pragmatics
What phrase is derived from the latin "Hoc est corpus"?*Hocus Pocus
